body{
    margin: 0em;
}

main{
    margin-left: 1em;
    margin-right: 1em
}

h1{ /* header text details */
    text-align: center;
    font-size: 4em;
    padding: .5em; 
    margin: 0em; /* space at the top */
    color: black;
    
}
.navbar ul {
    list-style-type: none;
    background-color: #e43d12;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: right; /* make HTFS go on the right*/
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 1em; /* how big the nav bar is */
    display: block;
    text-align: right;
}
.navbar a:hover{ /*when you hover over the nav text */
    background-color: TBD;
} 

.navbar li{
    float: left;
}

header {
    height: 10em; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    background-image: url('computer-header.png');
}

/* Media query for min-width: 1024px */
@media (min-width: 1024px) {
    header {
        background-image: url('computer-header.png');
    }
}

/* Media query for min-width: 768px and max-width: 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        background-image: url('path/to/medium-image.jpg');
    }
}

/* Media query for max-width: 767px */
@media (max-width: 767px) {
    header {
        background-image: url('path/to/small-image.jpg');
    }
}


.History{
color: black;
background-color: #d8d8d8;
width: 75%;
height: 40%;
border-radius: 2.5%;
position: relative;
font-size: 1.5em;
font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.History::before {
    content: '';
    position: absolute;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid transparent;
    border-bottom: 1em solid #d8d8d8;
    top: -45px;
    left: 20px;
    
}